name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version Number"
        required: true
        type: string

jobs:
  version:
    name: Validate version
    runs-on: ubuntu-latest
    outputs:
      version_3: ${{ steps.version.outputs.version_3 }}
      version_suffix: ${{ steps.version.outputs.version_suffix }}
      version_full: ${{ steps.version.outputs.version_full }}
      is_prerelease: ${{ steps.version.outputs.is_prerelease }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          sparse-checkout: build

      - name: Parse version
        id: version
        run: ./build/Get-Version.ps1 -Version ${{ inputs.version }}
        shell: pwsh

  build:
    name: Build & Test
    uses: ./.github/workflows/build-test.yml
    permissions:
      id-token: write
      contents: read
      checks: write

  publish:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs:
      - version
      - build
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json

      - name: Publish (win-x64)
        run: ./build/Build-Release.ps1 -Runtime win-x64 -Version "${{ needs.version.outputs.version_3 }}" -VersionSuffix "${{ needs.version.outputs.version_suffix }}"
        shell: pwsh

      - name: Publish (linux-x64)
        run: ./build/Build-Release.ps1 -Runtime linux-x64 -Version "${{ needs.version.outputs.version_3 }}" -VersionSuffix "${{ needs.version.outputs.version_suffix }}"
        shell: pwsh

      - name: Publish (linux-arm64)
        run: ./build/Build-Release.ps1 -Runtime linux-arm64 -Version "${{ needs.version.outputs.version_3 }}" -VersionSuffix "${{ needs.version.outputs.version_suffix }}"
        shell: pwsh

      - name: Publish (linux-musl-x64)
        run: ./build/Build-Release.ps1 -Runtime linux-musl-x64 -Version "${{ needs.version.outputs.version_3 }}" -VersionSuffix "${{ needs.version.outputs.version_suffix }}"
        shell: pwsh

      - name: Create tag
        uses: actions/github-script@v8
        env:
          TAG: v${{ needs.version.outputs.version_full }}
        with:
          script: |
            const tag = process.env.TAG;
            const createTag = require('./build/create-tag.js');
            await createTag({tag, github, context});

      - name: Create GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: v${{ needs.version.outputs.version_full }}
          draft: true
          generateReleaseNotes: true
          artifacts: "dist/*"
          allowUpdates: true
          updateOnlyUnreleased: true
          prerelease: ${{ needs.version.outputs.is_prerelease }}
